---
---

<style>
    .pb-8 {
        padding-bottom: 2rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        position: relative;
        padding-left: 1.5rem;
        margin-bottom: 1rem; /* Agrega más espacio entre cada elemento de la lista */

    }

    ul li::before {
        content: "→";
        position: absolute;
        left: 0;
    }

    ul li:hover::before {
        animation: blink 1s infinite;
    }

    @keyframes blink {
        0%, 50% {
            opacity: 1;
        }
        50.01%, 100% {
            opacity: 0;
        }
    }

    a:hover {
        text-decoration: none;
        color: purple; /* Cambia el color del texto a morado */
    }
    h3{
        padding-top: 10px;
        padding-bottom: 20px;
    }
</style>

<div>
    <div class="pb-8"> 
        <h3>FrontEnd Dev</h3>
        <p>
            Aquí puedes ver los proyectos en los que he trabajado cómo desarrollador FrontEnd
        </p>
    </div>
    <ul>
        <li>
            <a href="https://platohedro.github.io/powertocommons/" target="_blank"><h4>Power to commons</h4></a>
        </li>
        <li>
            <a href="https://curatingcommonwellbeing.platohedro.org/" target="_blank"><h4>Curating Commons Well begin</h4></a>
        </li>
        <li>
            <a href="https://residencias.platohedro.org/hablaraplantas/index.html" target="_blank"><h4>Hablar A plantas</h4></a>
        </li>
        <li>
            <a href="https://charts-impacto.vercel.app/" target="_blank"><h4>Infografia de datos</h4></a>
        </li>
        <li>
            <a href="" target="_blank"><h4>Rincon del Cafe</h4></a>
        </li>
        <li>
            <a href="https://carpediem-santa-elena.vercel.app/" target="_blank"><h4>Carpediem Santa Elena</h4></a>
        </li>
        <li>
            <a href="https://galeria-lampara.vercel.app/" target="_blank"><h4>Galeria Con Lampara</h4></a>
        </li>
        <li>
            <a href="https://a-image-lab-vartex.vercel.app/" target="_blank"><h4>Taller AI Vartex</h4></a>
        </li>
        <li>
            <a href="https://nodos.vercel.app/" target="_blank"><h4>Nodos Nym</h4></a>
        </li>
        <li>
            <a href="https://nym-api.vercel.app/" target="_blank"><h4>Formulario Con Base de Datos</h4></a>
        </li>
        <li>
            <a href="https://nym-api.vercel.app/" target="_blank"><h4>Daoariwas</h4></a>
        </li>
        <li>
            <a href="https://www.wal2wal.io/" target="_blank"><h4>Wal2Wal</h4></a>
        </li>
        <li>
            <a href="https://www.wal2wal.io/" target="_blank"><h4>Sindicato mujeres peru</h4></a>
        </li>
        <li>
            <a href="https://www.renardo.org/es" target="_blank"><h4>Traducción a español Renardo</h4></a>
        </li>
    </ul>
</div>
